body{
    font-family: Arial, Arial, sans-serif;
    background: rgb(230, 229, 229);
    display:flex;
    margin: auto;
}

h1{
    color: blue;
    font-size: 60px;

}
.portada{
    display: block;
    margin: auto;
    display: block;
    font-size: 25;
}

.inicio_de_sesion{
    text-align: center;
    background: white;
    margin-bottom: 70%;
    margin: auto;
    display: block;
}

.blogin{
    background: blue;
    color: white;
    border-radius: 9px;
    text-align: center;
    
}

.bnew{
    background: rgb(8, 213, 8);
    color: white;
    border-radius: 9px;
    text-align: center;
}

.olvidoContraseña{
  text-decoration: none;
}

.informacion{
    text-align: center;
}


